/* News.css */
.card-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px; /* Adds space between cards */
  }
  
  .card-cont .card-body {
    flex: 1 1 300px; /* Each card will take at least 300px */
    max-width: 400px; /* Limit the max width of each card */
    max-height: 600px; /* Limit the max width of each card */
    margin: 10px;
  }
  
  